/J01008/nbproject/private/
/J01008/build/
/MangDoixung/nbproject/private/
/MangDoixung/build/
/DemSoLanXuatHien/nbproject/private/
/SapXepDoiChoTrucTiep/nbproject/private/
/SapXepDoiChoTrucTiep/build/
/BoiSoChung-UocSoChung/nbproject/private/
/BoiSoChung-UocSoChung/build/
/SapXepChon/nbproject/private/
/SapXepChon/build/
/SapXepChen/nbproject/private/
/UocSoChiaHetCho2/nbproject/private/
/UocSoChiaHetCho2/build/
/HinhChuNhat/nbproject/private/
/HinhChuNhat/build/
/TongUocSo/nbproject/private/
/TongUocSo/build/
/ĐẾM SỐ LẦN XUẤT HIỆN/nbproject/private/
/DemSoLanXuatHien/build/
/TongSoNguyenLon/nbproject/private/
/TongSoNguyenLon/build/
/ChuanHoaXauHoTen/nbproject/private/
/ChuanHoaXauHoTen/build/
/Code.ptit/nbproject/private/
/Code.ptit/build/
/CodePtit/nbproject/private/
/CodePtit/build/
/ThucHanh/nbproject/private/
/ThucHanh/build/
/LyThuyet/nbproject/private/
/LyThuyet/build/
/LyThuyet/dist/
/Ly_Thuyet/nbproject/private/
/Ly_Thuyet/build/
/KiemTra/nbproject/private/
/KiemTra/build/
